In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# Crate Data Frame from csv file
purchase_data_file = "Resources/purchase_data.csv"
purchase_df = pd.read_csv(purchase_data_file)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Display the total number of players
    # Get a list of the value counts in "SN"
    # Get the length of value counts in "SN" to get the number of players
player_count = len(purchase_df.value_counts(["SN"]))
player_count

576

In [24]:
 # Purchasing Analysis (Total)
    # Run basic calculations to obtain number of unique items, average price, etc.
    # Create a summary data frame to hold the results
    # Optional: give the displayed data cleaner formatting
    # Display the summary data frame
# Get a list of the Purchased Items    
item_list = list(purchase_df["Item Name"])
# Get a count of the unique Purchased Items
item_count= len(item_list)
print(item_count)
# Group data frame by Item Name
item_summary_df = purchase_df.groupby("Item Name").agg({"Item Name":['sum', 'count'], "Price":['mean', 'sum']})
item_summary_df


#df.groupby('A').agg({'B': ['min', 'max'], 'C': 'sum'})

780

                                                                         Item Name  \
                                                                               sum
Item Name
Abyssal Shard                    Abyssal ShardAbyssal ShardAbyssal ShardAbyssal...
Aetherius, Boon of the Blessed   Aetherius, Boon of the BlessedAetherius, Boon ...
Agatha                                        AgathaAgathaAgathaAgathaAgathaAgatha
Alpha                                                              AlphaAlphaAlpha
Alpha, Oath of Zeal              Alpha, Oath of ZealAlpha, Oath of ZealAlpha, O...
...                                                                            ...
Wolf                                              WolfWolfWolfWolfWolfWolfWolfWolf
Wolf, Promise of the Moonwalker  Wolf, Promise of the MoonwalkerWolf, Promise o...
Worldbreaker                      WorldbreakerWorldbreakerWorldbreakerWorldbreaker
Yearning Crusher                  Yearning CrusherYearning CrusherYearning Crusher
Yearning Mageblade               Yearning MagebladeYearning MagebladeYearning M...

                                      Price
                                count  mean    sum
Item Name
Abyssal Shard                       5  2.67  13.35
Aetherius, Boon of the Blessed      5  3.39  16.95
Agatha                              6  3.08  18.48
Alpha                               3  2.07   6.21
Alpha, Oath of Zeal                 3  4.05  12.15
...                               ...   ...    ...
Wolf                                8  3.54  28.32
Wolf, Promise of the Moonwalker     6  4.48  26.88
Worldbreaker                        4  2.60  10.40
Yearning Crusher                    3  4.18  12.54
Yearning Mageblade                  5  3.82  19.10

[179 rows x 4 columns]

In [5]:
# Purchasing Analysis (Total)
    # Run basic calculations to obtain number of unique items, average price, etc.
    # Create a summary data frame to hold the results
    # Optional: give the displayed data cleaner formatting
    # Display the summary data frame