In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# Crate Data Frame from csv file
purchase_data_file = "Resources/purchase_data.csv"
purchase_df = pd.read_csv(purchase_data_file)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Check for missing data
print(purchase_df.count())

# Copy data frame to keep original
copy_purchase_df = purchase_df.copy()
copy_purchase_df.head()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Display the total number of players
    # Get a list of the value counts in "SN"
    # Get the length of value counts in "SN" to get the number of players
player_count = len(purchase_df.value_counts(["SN"]))

# Display player count in a data frame
player_count_df = pd.DataFrame({"Total Players":[player_count]})
player_count_df

   Total Players
0            576

In [5]:
 # Purchasing Analysis (Total)
    # Run basic calculations to obtain number of unique items, average price, etc.
    # Create a summary data frame to hold the results
    # Optional: give the displayed data cleaner formatting
    # Display the summary data frame

# Get a list of all the Purchased Items    
item_list = list(purchase_df["Item Name"])

# Get a count of the Purchased Items
total_items_purchased= len(item_list)

# Get a count of the unique items
unique_items_list = purchase_df["Item Name"].unique()
num_unique_items = len(unique_items_list)

# Group data frame by Item Name
item_summary_df = purchase_df.groupby("Item Name").agg({"Item Name":['count'], "Price":['mean', 'sum']})

# Average price of the items
ave_price_items = purchase_df["Price"].mean()

# Get the total revenue
total_revenue = purchase_df["Price"].sum()

# Summary DataFrame for the Purchasing Analysis

purchase_analysis_df = pd.DataFrame({"Num_Unique_Items":num_unique_items, 
                                     "Average_Price":ave_price_items, 
                                     "Total_Purchases":total_items_purchased, 
                                     "Total_Revenue":total_revenue}, index = [0])
# Values formatted to financial style

purchase_analysis_df["Average_Price"] = purchase_analysis_df["Average_Price"].map('${:,.2f}'.format)
purchase_analysis_df["Total_Revenue"] = purchase_analysis_df["Total_Revenue"].map('${:,.2f}'.format)
purchase_analysis_df

   Num_Unique_Items Average_Price  Total_Purchases Total_Revenue
0               179         $3.05              780     $2,379.77

In [6]:
# Gender Demographics
    # Percentage and Count of Male Players
    # Percentage and Count of Female Players
    # Percentage and Count of Other / Non-Disclosed


# Create data frame grouped by gender
gender_df = purchase_df.groupby("Gender").agg({"SN":'nunique'})

# Get the total_players in data frame gender_df
total_players = gender_df["SN"].sum()

# Calculate the gender percentages 
gender_percentage = gender_df/total_players*100
gender_percentage

# Add percentages column to gender data frame
gender_df["Percentage"] = gender_percentage
gender_df

# Format Percentages column to add percent sign and make it two decimal places
gender_df["Percentage"] = gender_df["Percentage"].map('{:.2f}%'.format)
gender_column_list = list(gender_df.columns)

# Rename column names of gender_df and assign to new data frame
summary_gender_df = gender_df.rename(columns={"SN":"Total Count", 'Percentage':"Percentage of Players"})
summary_gender_df

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [7]:
# Purchasing Analysis (Gender)
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame

# Re-Create data frame grouped by gender and extract Purchase Count, Average Purchase Price, Total Purchase Value
gender_2_df = purchase_df.groupby("Gender").agg({"Gender":'count', "Price": ['mean', 'sum']})

# Drop level in column label
#df.rename_axis(["a","b"],axis=1,inplace=True)
gender_2_df = gender_2_df.droplevel(0,axis=1)

# Get column names after drop level
#print(gender_2_df.columns)

# Rename columns
renamed_gender_2_df = gender_2_df.rename(columns={
    'count': "Purchase Count", 
    'mean':'Average Purchase Price',
    'sum': 'Total Purchase Value'})
#print(renamed_gender_2_df)
#print(renamed_gender_2_df.columns)

# Calculate the Average Total Purchase per Person and add to data frame
renamed_gender_2_df["Avg Total Purchase per Person"] = renamed_gender_2_df.loc[:,'Total Purchase Value']/summary_gender_df.loc[:,"Total Count"]

# Format columns to add percent sign and make it two decimal places
renamed_gender_2_df['Average Purchase Price'] = renamed_gender_2_df['Average Purchase Price'].map('${:.2f}'.format)
renamed_gender_2_df['Total Purchase Value'] = renamed_gender_2_df['Total Purchase Value'].map('${:.2f}'.format)
renamed_gender_2_df['Avg Total Purchase per Person'] = renamed_gender_2_df['Avg Total Purchase per Person'].map('${:.2f}'.format)

# Display data frame
renamed_gender_2_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [8]:
# Age Demographics
# Establish bins for ages
# Categorize the existing players using the age bins. Hint: use pd.cut()
# Calculate the numbers and percentages by age group
# Create a summary data frame to hold the results
# Optional: round the percentage column to two decimal points
# Display Age Demographics Table

# Bins for ages
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 100]

# labels
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Make a copy of the Data Frame to keep integrity of data set
for_age_demo_purchase_df = copy_purchase_df.copy()

# Group Data Frame by age groups
for_age_demo_purchase_df["Age_Groups"] = pd.cut(for_age_demo_purchase_df["Age"], bins=bins, labels=labels )

# Aggregate by counting the number of unique players 
for_age_demo_purchase_df = for_age_demo_purchase_df.groupby("Age_Groups").agg({"SN":'nunique'})

# Calculate the gender percentages, use the calculated 'total_players' above
age_groups_percentage = for_age_demo_purchase_df/total_players*100

# Add the gender percentages to the data frame
for_age_demo_purchase_df["Percentage of Players"] = age_groups_percentage

# Rename columns
for_age_demo_purchase_df = for_age_demo_purchase_df.rename(columns={'SN': "Total Count"})

# Format Percentage of Player column to add percent sign and make it two decimal places
for_age_demo_purchase_df["Percentage of Players"] = for_age_demo_purchase_df["Percentage of Players"].map('{:.2f}%'.format)

#Display the data frame
for_age_demo_purchase_df

            Total Count Percentage of Players
Age_Groups
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

In [9]:
# Purchasing Analysis (Age)
# Bin the purchase_data data frame by age
# Run basic calculations to obtain 
    # purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame

# Bin the purchase_data data frame by age
# Use the bins and labels list created above.
# Make a copy of the Data Frame to keep integrity of data set
for_age_purchase_analysis_df = copy_purchase_df.copy()

# Group Data Frame by age groups
for_age_purchase_analysis_df["Age_Groups"] = pd.cut(for_age_purchase_analysis_df["Age"], bins=bins, labels=labels )

# Group by age groups and aggregate to calculate the purchase count, average purchase price and total purchase value 
for_age_purchase_analysis_df = for_age_purchase_analysis_df.groupby("Age_Groups").agg({
    "Age":'count', 
    "Price":['mean', 'sum']})

# Drop level in column label
#df.rename_axis(["a","b"],axis=1,inplace=True)
for_age_purchase_analysis_df = for_age_purchase_analysis_df.droplevel(0,axis=1)

# Rename columns
for_age_purchase_analysis_df = for_age_purchase_analysis_df.rename(columns={
    'count': "Purchase Count", 
    'mean':'Average Purchase Price',
    'sum': 'Total Purchase Value'})

# Calculate the Average Total Purchase per Person and add to data frame
for_age_purchase_analysis_df["Avg Total Purchase per Person"] = for_age_purchase_analysis_df.loc[:,'Total Purchase Value']/for_age_demo_purchase_df.loc[:,"Total Count"]

# Format columns to add dollar sign and make it two decimal places
for_age_purchase_analysis_df['Average Purchase Price'] = for_age_purchase_analysis_df['Average Purchase Price'].map('${:.2f}'.format)
for_age_purchase_analysis_df['Total Purchase Value'] = for_age_purchase_analysis_df['Total Purchase Value'].map('${:.2f}'.format)
for_age_purchase_analysis_df['Avg Total Purchase per Person'] = for_age_purchase_analysis_df['Avg Total Purchase per Person'].map('${:.2f}'.format)


for_age_purchase_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age_Groups,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [10]:
# Top Spenders
# Run basic calculations to obtain the results in the table below
# Create a summary data frame to hold the results
# Sort the total purchase value column in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the summary data frame

# Group data set by SN from copy of the purchase_df
SN_purchase_df = copy_purchase_df.copy()
SN_purchase_df = SN_purchase_df.groupby("SN").agg({"Price":['count', 'mean', 'sum']}) 

# Drop level in column label
#df.rename_axis(["a","b"],axis=1,inplace=True)
SN_purchase_df = SN_purchase_df.droplevel(0,axis=1)

# Rename columns
SN_purchase_df = SN_purchase_df.rename(columns={
    'count': "Purchase Count", 
    'mean':'Average Purchase Price',
    'sum': 'Total Purchase Value'})
# Sort the data frame by decending order based on the total purchase value
SN_purchase_df=SN_purchase_df.sort_values(by='Total Purchase Value', ascending=False)

# Format columns to add dollar sign and make it two decimal places
SN_purchase_df['Average Purchase Price'] = SN_purchase_df['Average Purchase Price'].map('${:.2f}'.format)
SN_purchase_df['Total Purchase Value'] = SN_purchase_df['Total Purchase Value'].map('${:.2f}'.format)

# Display the first 5 players and their stats
SN_purchase_df.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [11]:
# Most Popular Items
# Retrieve the Item ID, Item Name, and Item Price columns
# Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value
# Create a summary data frame to hold the results
# Sort the purchase count column in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the summary data frame

# Group data set by itemID and ItemName from copy of the purchase_df
items_purchase_df = copy_purchase_df.copy()
items_purchase_df = items_purchase_df.groupby(["Item ID", "Item Name"]).agg({"Item ID":'count', "Price":['mean', 'sum']}) 

# Drop level in column label
#df.rename_axis(["a","b"],axis=1,inplace=True)
items_purchase_df = items_purchase_df.droplevel(0,axis=1)

# Rename columns
items_purchase_df = items_purchase_df.rename(columns={
    'count': "Purchase Count", 
    'mean':'Average Purchase Price',
    'sum': 'Total Purchase Value'})

# Sort the data frame by decending order based on the purchase count
items_purchase_df=items_purchase_df.sort_values(by='Purchase Count', ascending=False)
profitable_items_df = items_purchase_df.copy()

# Format columns to add dollar sign and make it two decimal places
items_purchase_df['Average Purchase Price'] = items_purchase_df['Average Purchase Price'].map('${:.2f}'.format)
items_purchase_df['Total Purchase Value'] = items_purchase_df['Total Purchase Value'].map('${:.2f}'.format)

# Display the data frame
items_purchase_df.head(5)

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [12]:
# Most Profitable Items
# Sort the above table by total purchase value in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the data frame

# Sort the data frame by decending order based on the total purchase calue
profitable_items_df=profitable_items_df.sort_values(by='Total Purchase Value', ascending=False)

# Display the data frame
profitable_items_df

# Format columns to add dollar sign and make it two decimal places
profitable_items_df['Average Purchase Price'] = profitable_items_df['Average Purchase Price'].map('${:.2f}'.format)
profitable_items_df['Total Purchase Value'] = profitable_items_df['Total Purchase Value'].map('${:.2f}'.format)

# Display the data frame
profitable_items_df.head(5)

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80